<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <% include ../../partials/header.ejs %>

    <style>
      body {
        margin-top: 50px;
        text-align: center;
      }

      #motion {
        border: 5px solid SILVER;
      }
    </style>
</head>

<body>

  <div class="container">
    <canvas id="motion"></canvas>
  </div>

  <script>
    var motion = document.getElementById("motion");
    motion.width = 800;
    motion.height = 600;
    var socket = io.connect();
    var stage = new createjs.Stage("motion");
    var bmp = new createjs.Bitmap("http://scratch.by/upload/iblock/b63/dog_120.png");
    bmp.x = 350;
	  bmp.y = 250;
    stage.addChild(bmp);
    stage.update();
  </script>

</body>

</html>
