<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <% include ../../partials/header.ejs %>

    <style>
      body {
        background: TEAL url('http://gratisography.com/pictures/297_1.jpg') no-repeat;
        overflow: hidden;
        background-size: cover;

      }

      div {
        margin: 200px 400px;
        position: absolute;
        text-align: center;
        color: WHITESMOKE;
        font-size: 20px;
        padding: 10px;
      }

      #circle-dom {
        width: 150px;
        height: 150px;
        border: 5px solid WHITESMOKE;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
        transition: width 2s, height 2s, background-color 4s, border 0.8s;
        animation: mymove 2.8s infinite;
      }

      @-webkit-keyframes mymove {
        0% {
          left: 0px;
          transform: rotate(25deg); opacity: 0.5
        }
        25% {
          opacity: 0.9
        }
        50% {
          left: 550px;
          transform: scale(1.45) rotate(-10deg); opacity: 1
        }
        75% {
          opacity: 0.9
        }
        100% {
          left: 0px;
          transform: rotate(25deg); opacity: 0.5
        }
      }
    </style>
</head>

<body>



  <div id="circle-dom" onclick="changeEl(circlePic, circleColor, circlePic, circleBorder, circleWidth, circleHeight);"><i>Click me</i></div>





  <script>
    var circleDOM = document.getElementById("circle-dom");
    var circleBorder = '10px solid ' + '#' + (Math.random() * 0xFFFFFF << 0).toString(16);
    var circleColor = '#' + (Math.random() * 0xFFFFFF << 0).toString(16);
    var circleMotion = "linear";
    var circleWidth = "250px";
    var circleHeight = "250px";
    var circlePic;
    switch (Math.floor(Math.random() * 10)) {
      case 0:
        circlePic = "url('http://scratch.by/upload/iblock/b63/dog_120.png')";
        break;
      case 1:
        circlePic = "url('http://scratch.by/upload/iblock/232/sheep_120.png')";
        break;
      case 2:
        circlePic = "url('http://scratch.by/upload/iblock/c62/pig_120.png')";
        break;
      case 3:
        circlePic = "url('http://scratch.by/upload/iblock/a9f/horse_-120.png')";
        break;
      case 4:
        circlePic = "url('http://scratch.by/upload/iblock/712/goose_120.png')";
        break;
      case 5:
        circlePic = "url('http://scratch.by/upload/iblock/31a/goat_120.png')";
        break;
      case 6:
        circlePic = "url('http://scratch.by/upload/iblock/85d/cow_120.png')";
        break;
      case 7:
        circlePic = "url('http://scratch.by/upload/iblock/73d/cock_120.png')";
        break;
      case 8:
        circlePic = "url('http://scratch.by/upload/iblock/5f2/bull_120.png')";
        break;
      case 9:
        circlePic = "url('http://scratch.by/upload/iblock/933/goby_120.png')";
    };
    circleDOM.style.backgroundColor = "rgba(255, 255, 255, 0.4)";
    circleDOM.style.borderRadius = ('50%');
    circleDOM.style.backgroundSize = ('45%');
    circleDOM.style.backgroundRepeat = "no-repeat";
    circleDOM.style.backgroundPosition = "center";

    const changeEl = (newMotion, newColor, newPic, newBorder, newWidth, newHeight) => {
      circleDOM.style.WebkitAnimation = newMotion;
      circleDOM.style.backgroundColor = newColor;
      circleDOM.style.backgroundImage = newPic;
      circleDOM.style.border = newBorder;
      circleDOM.style.width = newWidth;
      circleDOM.style.height = newHeight;
    }
  </script>

</body>

</html>
