<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <% include ../partials/header.ejs %>

</head>

<body>
  <%# <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"></script>%>

    <script>
    </script>

    <div class="container">
      <div class="alert alert-success" role="alert">Чат (Демо)</div>
      <div class="row">
        <div class="col-md-8">
          <div class="chat" id="chat"></div>
          <form id="messageForm">
            <div class="form-group">
              <label class="text-muted">Введите сообщение</label>
              <textarea class="form-control" id="message"></textarea>
              <input type="submit" class="btn btn-primary" value="Отправка сообщения" />
            </div>
          </form>
        </div>
        <div class="col-md-4">
          <div class="well">
            <h5 class="text-right text-muted">ПОЛЬЗОВАТЕЛИ <span class="text-success">ONLINE</span></h5>
            <ul class="list-group" id="users">

            </ul>
          </div>

        </div>
      </div>
    </div>





</body>

</html>
