<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <% include ../partials/header.ejs %>

</head>

<body>
  <%# <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"></script>%>

    <script>
    </script>

    <div class="container">
      <div class="alert alert-success" role="alert">Чат (Демо)</div>
      <div class="row">
        <div class="col-md-8">
dcsdvs
        </div>
        <div class="col-md-4">
          <div class="well">
            <h3>USERS ONLINE</h3>
          </div>

        </div>
      </div>
    </div>





</body>

</html>
