<!DOCTYPE html>
<html>
<head>

  <!-- <% include ../partials/header.ejs %> -->

</head>

<body>

  <!-- <% include ../partials/nav.ejs %> -->

  <h1>#100днейкода</h1>
  <h2>Чат (Демо)</h2>
  
  	<button onclick="console.log('Back');">Back</button>
  	<button onclick="console.log('Next');">Next</button>

</body>
</html>
